<div class="jumbotron">
        <h1 class="display-4">404 Página não encontrada!</h1>
        <br>
        <br>
        <br>
        <a class="btn btn-primary btn-lg" href="/" role="button">Voltar ao inicio</a>
      </div>