<div class="jumbotron  bg-dark text-white">
        <h3 class="display-4">Cadastro realizado com Sucesso!</h3>
        <p class="lead"><h4>Agora você pode criar, atualizar e consultar seu chamado pela @gileWeb :).</h4></p>
		<p class="lead"><h4 style="color: red;">Lembre-se que seu login possui o prefixo <strong>EXT_</strong></h4></p>
        <hr class="my-4">
        <p>Faça login agora com suas credenciais</p>
        <h5><p><strong>Login : </strong> <span style="color: red;"><% if (locals.data) { %>  <%= data.login %> <% }%></span></p></h5>
        <p><strong>Senha : </strong> ***********</p>
        <a class="btn btn-primary btn-lg" href="https://portaldeatendimento.lanlink.com.br/assystnet/#homepage" role="button">Acesse</a>
      </div>